# Implementation of NAVIES BAYES ALGORITHM

In [59]:
#Impoting Libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import precision_score, recall_score, accuracy_score, f1_score

In [60]:
#Loading the dataset to a Pandas DataFrame
data = pd.read_csv('New heart.csv')
np.shape(data)

(918, 12)

In [61]:
# print first 5 rows of the data
data.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [62]:
# print last 5 rows of the data
data.tail()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [63]:
# getting some info about the data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

In [64]:
# checking for missing values
data.isnull().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [65]:
data[data.duplicated()]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

In [66]:
len(data[data.duplicated()])

0

In [67]:
# statistical measure of data
data.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [68]:
# Handle missing values (Replace 'M' with NaN)
data.fillna('missing_value',inplace=True)

# Drop rows with missing target values (assuming 'HeartDisease' is the column name)
data=data.dropna(subset=['HeartDisease'])

In [69]:
# Define features (X) and target (y)
X = data.drop('HeartDisease', axis=1)
y = data['HeartDisease']

# Convert non-numeric columns to numeric using pandas get_dummies
X = pd.get_dummies(X, columns=['Sex', 'ChestPainType', 'RestingECG', 'ExerciseAngina', 'ST_Slope'])

#data
X

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,Sex_F,Sex_M,ChestPainType_ASY,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_LVH,RestingECG_Normal,RestingECG_ST,ExerciseAngina_N,ExerciseAngina_Y,ST_Slope_Down,ST_Slope_Flat,ST_Slope_Up
0,40,140,289,0,172,0.0,0,1,0,1,0,0,0,1,0,1,0,0,0,1
1,49,160,180,0,156,1.0,1,0,0,0,1,0,0,1,0,1,0,0,1,0
2,37,130,283,0,98,0.0,0,1,0,1,0,0,0,0,1,1,0,0,0,1
3,48,138,214,0,108,1.5,1,0,1,0,0,0,0,1,0,0,1,0,1,0
4,54,150,195,0,122,0.0,0,1,0,0,1,0,0,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,110,264,0,132,1.2,0,1,0,0,0,1,0,1,0,1,0,0,1,0
914,68,144,193,1,141,3.4,0,1,1,0,0,0,0,1,0,1,0,0,1,0
915,57,130,131,0,115,1.2,0,1,1,0,0,0,0,1,0,0,1,0,1,0
916,57,130,236,0,174,0.0,1,0,0,1,0,0,1,0,0,1,0,0,1,0
917,38,138,175,0,173,0.0,0,1,0,0,1,0,0,1,0,1,0,0,0,1

In [70]:
#checking the distribution of HeartDisease variable
data['HeartDisease'].value_counts()

1    508
0    410
Name: HeartDisease, dtype: int64

1 ---> Defective heart



0 ---> Healthy heart

In [75]:
# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [76]:
print(x.shape, x_train.shape, x_test.shape)

(918, 11) (734, 11) (184, 11)

### MODEL TRAINING

In [101]:
import warnings
warnings.filterwarnings("ignore", category=UserWarning)
# Build the Random Forest model
model = GaussianNB()

In [102]:
# Train the model
model.fit(X_train, y_train)

GaussianNB()

In [103]:
# Make predictions on the test set
y_pred = model.predict(X_test)

#### ACCURACY

In [104]:
#model evaluation
#accuracy score on train data
X_train_prediction =  model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, y_train)

In [105]:
print('Acurracy on training data : ', training_data_accuracy*100)

Acurracy on training data :  85.83106267029973

In [106]:
#accuracy score on test data
X_test_prediction =  model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, y_test)

In [107]:
print('Test data accuracy : ', test_data_accuracy*100)

Test data accuracy :  86.41304347826086

#### CONFUSION MATRIX

In [108]:
from sklearn.metrics import confusion_matrix

In [109]:
z = confusion_matrix(y_test,X_test_prediction)
print(z)

[[70  7]
 [18 89]]

#### PRECISION

Precision is the ratio of number of True Positive to the total number of Predicted Positive. It measures, out of the total predicted positive, how many are actually positive.

In [110]:
from sklearn.metrics import precision_score

In [111]:
# precision for training data predictions
precision_train = precision_score(y_train, X_train_prediction)
print('Training data Precision =', precision_train*100)

Training data Precision = 86.66666666666667

In [112]:
# precision for test data predictions
precision_test = precision_score(y_test, X_test_prediction)
print('Test data Precision =', precision_test*100)

Test data Precision = 92.70833333333334

#### RECALL

Recall is the ratio of number of True Positive to the total number of Actual Positive. It measures, out of the total actual positive, how many are predicted as True Positive.

In [113]:
from sklearn.metrics import recall_score

In [114]:
# recall for training data predictions
recall_train = recall_score(y_train, X_train_prediction)
print('Training data Recall =', recall_train*100)

Training data Recall = 87.53117206982543

In [115]:
# recall for test data predictions
recall_test = recall_score(y_test, X_test_prediction)
print('Test data Recall =', recall_test*100)

Test data Recall = 83.17757009345794

#### F1 SCORE

F1 Score is an important evaluation metric for binary classification that combines Precision & Recall. F1 Score is the harmonic mean of Precision & Recall.

In [116]:
from sklearn.metrics import f1_score

In [117]:
# F1 score for training data predictions
f1_score_train = f1_score(y_train, X_train_prediction)
print('Training data F1 Score =', f1_score_train*100)

Training data F1 Score = 87.09677419354838

In [118]:
# F1 Score for test data predictions
f1_score_test = recall_score(y_test, X_test_prediction)
print('Test data F1 Score =', f1_score_test*100)

Test data F1 Score = 83.17757009345794

### BUILDING A PREDICTIVE SYSTEM

In [119]:
input_data = (50,170,245,1,150,1.0,1,0,1,0,0,0,0,1,0,1,0,1,0,0)

# change the input data to a numpy array
input_data_as_numpy_array= np.asarray(input_data)

# reshape the numpy array as we are predicting for only on instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
print(prediction)

if (prediction[0]== 0):
  print('The Person does not have a Heart Disease')
else:
  print('The Person has Heart Disease')

[1]
The Person has Heart Disease